<% include header %>

<form action="" method="post">
    Title: <input type="text" name="title"/>
    <br/>
    Tag:
    <input type="text" name="tag1" />
    <input type="text" name="tag2" />
    <input type="text" name="tag3" />
    <br/>
    ContentHere:
    <br/>
    <textarea name="post" id="" cols="100" rows="20"></textarea>
    <br/>
    <input type="submit" value="PostIt :D"/>
</form>

<% include footer %>
